#stacks_in_2_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_2_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_2_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_2_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_2_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_2_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_17_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_75_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_5_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_5_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_5_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_5_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_5_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_5_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_19_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_77_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_8_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_8_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_8_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_8_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_8_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_8_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_21_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_79_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_50_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_50_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_50_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_50_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_50_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_50_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_55_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_81_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_47_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_47_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_47_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_47_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_47_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_47_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_57_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_83_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_44_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_44_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_44_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_44_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_44_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_44_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_59_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_85_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_23_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_23_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_23_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_23_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_23_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_23_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_61_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_87_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_41_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_41_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_41_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_41_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_41_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_41_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_63_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_89_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_38_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_38_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_38_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_38_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_38_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_38_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_65_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_91_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_35_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_35_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_35_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_35_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_35_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_35_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_67_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_93_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_29_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_29_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_29_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_29_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_29_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_29_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_69_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_95_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
